# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Excel temporary files
~$*.xlsx

# Operating system files
.DS_Store
Thumbs.db